{% extends "base.html" %}

{% block head %}
<title>json formatter</title>
<script type="text/javascript" src="../static/json_formater.js"></script>
{% endblock %}

{% block body %}
<script type="text/javascript">
    window.onload = function() { onJsonFormaterPageLoad();};
    window.onresize = function() { onJsonFormaterPageResize();};
</script>
<form method="POST">
<table>
  <tr>
    <td><textarea name="input" id="input" style="overflow:auto;" required>{{input}}</textarea></td>
    <td><input type="submit"></input></td>
    <td><textarea name="output" id="output" style="overflow:auto;" readonly>{{output}}</textarea></td>
  </tr>
</table>
</form>
{% endblock %}
